<!DOCTYPE html>

<html lang="eu">
    <head>
        <link rel="stylesheet" href="/static/Scripts/projects_style.css">
    </head>

    <body>
        <img id="background_img" src="/static/Images/background.png">

        <h1 id="title">Ben Edwards/My Projects</h1>
    
        <div id="inner_layer">
            <h id="introduction_text"></h>

            <div id="projects_content">
                <div id="text_container">
                    <div class="line"></div>

                    <p2>Chess Bot</p2>
                    <p3>
                        This is a chess bot made using Unity and C#
                        The source code can be found <a href="https://github.com/Ben-Edwards44/Chess">here</a>
                    </p3>

                    <div class="line"></div>

                    <p2>Neural Network</p2>
                    <p3>
                        This is a neural network made from scratch using Python
                        The source code can be found <a href="https://github.com/Ben-Edwards44/Neural-network">here</a>
                    </p3>

                    <div class="line"></div>
                    
                    <p2>Physics Simulations</p2>
                    <p3>
                        I have made many physics simulations using Python:

                        A spring forces simulation using Hooke's Law: <a href="https://github.com/Ben-Edwards44/spring-forces">souce code</a>
                        A double and single pendulum simulation: <a href="https://github.com/Ben-Edwards44/double-pendulum">souce code</a>
                    </p3>

                    <div class="line"></div>

                    <p2>Fractal Visulisations</p2>
                    <p3>
                        I have made many Python scripts that draw fractals:

                        The Mandelbrot set: <a href="https://github.com/Ben-Edwards44/Python_projects/blob/main/mandlebrot_set.py">souce code</a>
                        The Julia set: <a href="https://github.com/Ben-Edwards44/Python_projects/blob/main/julia_set.py">souce code</a>
                        Serpinski's Triangle: <a href="https://github.com/Ben-Edwards44/Python_projects/blob/main/sierpinski_triangle.py">souce code</a>
                        Appollonian Gaskets: <a href="https://github.com/Ben-Edwards44/Python_projects/blob/main/apollonian_gaskets.py">source code</a>
                    </p3>

                    <div class="line"></div>

                    <p2>This Website!</p2>
                    <p3>
                        I made this website using HTML, CSS, JS and Python
                        The source code can be found <a href="https://github.com/Ben-Edwards44/Python_projects/blob/main/apollonian_gaskets.py">here</a>
                    </p3>
                </div>
            </div>

            <button type="button" class="button" id="about_button" onclick="home_button()">Return</button>
        </div>

        <script src="/static/Scripts/projects_script.js"></script>
    </body>
</html>